<!-- Team Section -->
    <section id="About" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Michael Born</h2>
                    <h3 class="section-subheading text-muted">Experienced broadcaster, entertainer, and public speaker.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-lg-12">
                    <div class="team-member">
                        <img src="img/about/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <p class="large text-muted">Michael Born has had a vast career accumulating a plethora of skills along the way. Michael spent nearly a decade in broadcast television serving both on-air and behind the scenes in various capacity. Following his time as a broadcaster, Michael moved into a more technology consulting role where he continued to hone his public speaking and verbal communication skills. Next, Michael switched careers into Information Security consulting where he was provided many opportunities for public speaking at various small and large well-known conferences. Michael also had the opportunity to write a technology book for Packt Publishing called Binary Analysis Cookbook which made Book Authority's list of Best Malware Books of All Time. Michael enjoys entertaining audiences with various impersonations and character voices, narrating, and using his voice to serve his Church and community where the opportunity presents itself.</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>