<!-- About Section -->
    <section id="equipment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Equipment</h2>
                    <h3 class="section-subheading text-muted">The right equipment can make or break a good voice-over project. Michael Born Voice-Overs uses the following professional equipment.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/equipment/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Studio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Michael Born uses a sound isolation booth with reverberation reduction to achieve a healthy balance of sound isolation and proper acoustics when recording voice-overs so that your project is delivered exactly to your artistic specification.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/equipment/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Microphones</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Michael maintains an inventory of top of the line industry standard microphones including the Neumann TLM-103, Sennheiser MKH 416, Shure SM7B, and the Electro-Voice RE20. If your project requires a specific microphone, Michael will do his best to accommodate your specific project requirements.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/equipment/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Audio Interface</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Michael Born uses a Focusrite Scarlett 2i2 Audio Interface and a dbx 286s Microphone Pre-Amp for all recordings. Depending on the microphone used, Michael has the ability to configure these devices in order to maintain the best sound for each microphone in his inventory.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/equipment/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Digital Audio Workstation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Michael primarily uses Reaper for making and editing all recordings but has the option and experience to use Logic Pro X if your project requires.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>