<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Michael Born Voice-Overs offers a variety of voice-over services to fit your project needs. With nearly a decade of broadcasting and public speaking experience and over a decade of deep technology experience, Michael posesses a wide range of voice-over capabilities.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voice-Overs & Voice Acting</h4>
                    <p class="text-muted">Whether your project requires a specific accent or you need a character brought to life, Michael Born will deliver a performance according to your project's artistic requirements. You'll receive several different reads of your script, and if requested, Michael Born will provide mastered, production ready versions of each performance upon request.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Audio Book Narration</h4>
                    <p class="text-muted">Michael Born brings a unique, authentic approach to all audio book narration projects in accordance with each author's artistic requirements. Michael is always flexible and willing to deliver the project exactly as requested. While Michael prefers certain genres, he will work on and deliver almost any audio book project.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-headphones fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Extras</h4>
                    <p class="text-muted">Each project automatically recieves up to three (3) edits at no extra charge. If more are needed, Michael will work with you to make sure the final product is exactly to your specifications. Michael will also provide a fully mastered version of the delivered performance upon request.</p>
                </div>
            </div>
        </div>
    </section>